/* Body */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Register */
.user-auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image {
  background-image: url("../assets/man-lifting.png");
  background-size: cover;
  background-position: center;
  height: 63rem;
}

.register {
  padding: 20px;
  text-align: left;
}

.register h2,
.login h2 {
  margin-bottom: 20px;
  text-align: center;
}

.register label {
  display: block;
  margin: 10px 0;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"],
.register input[type="date"],
.register input[type="tel"],
.register select[name="sex"],
.register button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button-link {
  cursor: pointer;
  text-decoration: none;
  background-color: #fcff5f;
  border-radius: 10px;
  border: black;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
}

.button-link:hover {
  background-color: #a1a309b0;
}

.user-auth-input-box {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .user-auth-page-container {
    display: flex;
  }

  .signup-image,
  .register,
  .login {
    flex: 1;
  }

  .register,
  .login {
    max-width: 500px;
    margin: auto;
    padding: 40px;
  }

  .signup-image {
    height: 63rem;
  }

  .user-auth-input-box {
    text-align: center;
    margin: 50px;
    border: 2px solid black;
  }
}

/* Login */

.login-image {
  background-image: url("../assets/man-lifting.png");
  background-size: cover;
  background-position: center;
  height: 34rem;
  margin-top: 7rem;
}

.login input[type="text"],
.login input[type="password"],
.login button {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
}

.login {
  padding: 20px;
  text-align: left;
}

.login label {
  display: block;
  margin: 10px 0;
}

.update-profile {
  background-color: white;
  display: inline-block;
  text-align: center;
  height: 100vh;
  width: 30vw;
}

/* About */
.about 
{
  margin-top: 10vh;
  display: inline-block;
  text-align: center;
  width: 50vw;
  border-style: solid;
  background-color: white;
}

.aboutImage
{
  height: 100vh;
  background-image: url('../assets/AboutPageIMG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* Program Page*/
.program-information
{
  color: white;
}